@import url(https://fonts.googleapis.com/css?family=Exo+2:400,100,300,200,300italic&subset=latin,cyrillic);

//@font-face {
//  font-family: 'Copperplate';
//  src: url('../fonts/copperplate-webfont.eot');
//  src: url('../fonts/copperplate-webfont.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/copperplate-webfont.woff2') format('woff2'),
//  url('../fonts/copperplate-webfont.woff') format('woff'),
//  url('../fonts/copperplate-webfont.ttf') format('truetype'),
//  url('../fonts/copperplate-webfont.svg#copperplateregular') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}

// Styles
// ------------------------------------

// first of all. Choose your options
$debug-mode:          false!default;
$use-breadcrumb:      false!default;
$use-pagination:      false!default;
$use-pager:           false!default;
$use-btn-color:       true!default;
$use-btn-group:       true!default;
$use-btn-size:        true!default;
$use-input-group:     false!default;
$use-split:           false!default;
$use-rules:           false!default;
$use-this-or-this:    false!default;
$use-has-feedback:    false!default;
$use-color-text:      true!default;
$use-table:           false!default;
$use-color-table:     false!default;
$use-column-table:    false!default;
$use-flexbox:         false!default;
$use-adaptive:        true!default;

// plugins
$use-animations:      false!default;

// Variables
@import "_variables";

// Util
@import "utils/_glob";

// Base
@import "base/_glob";

// Components
@import "components/_glob";

// Layout
@import "layout/glob";


// Vendors
@import "vendors/glob";

