.modal.fade(id='send-id')
    .modal-dialog.modal-sm.info
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true'): img(src="images/close.png", alt="")
                h5.text--uppercase обратная связь
            .modal-body
                .col-sm-9.center-block
                    form(method="post", action="")
                        +fieldInput('text', 'name', 'name', 'Ваше имя', 'Ваше имя', true)
                        +fieldInput('text', 'phone', 'phone', 'Ваш телефон', 'Ваш телефон', true)
                        +fieldInput('email', 'email', 'email', 'Ваша почта', 'Ваша почта', true)
                        input.margtop30.text--uppercase.btn.btn--primary.btn--block(type="submit", value="отправить письмо")



.modal.fade(id='call-id')
    .modal-dialog.modal-sm.info
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true'): img(src="images/close.png", alt="")
                h5.text--uppercase обратный звонок
            .modal-body
                .col-sm-9.center-block
                    form(method="post", action="")
                        +fieldInput('text', 'name1', 'name', 'Ваше имя', 'Ваше имя', true)
                        +fieldInput('text', 'phone1', 'phone', 'Ваш телефон', 'Ваш телефон', true)
                        input.margtop30.text--uppercase.btn.btn--primary.btn--block(type="submit", value="Перезвоните мне")

