//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 2px solid transparent;
  //white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;
  height: 54px;
  width: 221px;
  font-family: 'Copperplate', Arial, sans-serif;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $base-font-size, 1.2, $btn-border-radius-base);

  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
  }
  &--once {
    padding: 10px $padding-base-horizontal;
    line-height: 1.6;
  }
}


// Alternate buttons
.btn--default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
  a {color: $btn-default-color}
  &:hover, &:focus, &.active {
    color: $btn-default-color;
    background-color: $btn-default-bg;
    border-color: transparent;
  }
}

@if $use-btn-color == true {
  .btn--primary {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  }
  .btn--success {
    @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
  }
  .btn--info {
    @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
  }
  .btn--warning {
    @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
  }
}


// Button Sizes
@if $use-btn-size == true {
  .btn--lg {
    @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
    //height: 54px;
    //white-space: nowrap;
    width: auto;
    @media (min-width: $screen-lg-min) {
      min-width: 295px;
    }
    text-transform: uppercase;
  }
  .btn--md {
    width: 202px;
    line-height: 1.4;
  }
  .btn--sm {
    @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
  }
}


// Block button
.btn--block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
