//
// Modules -> Navs
// --------------------------------------------------

.nav {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  margin-top: 17px;
  @include clearfix;
  > li {
    position: relative;
    display: block;

    @media (min-width: $screen-md-min) {
      display: inline-block;
    }
    > a {
      position: relative;
      color: grey;
      text-transform: uppercase;
      &:hover,
      &:focus {
        text-decoration: none;
        color: #fff;
        background-color: $navbar-default-link-hover-bg;
      }
      @media (min-width: $screen-md-min) {
        display: inline-block;
        padding: 0 10px;
        &:active,
        &:hover,
        &:focus {
          color: $navbar-default-link-hover-color;
          background-color: transparent;
        }
      }
    }

    @media (min-width: $screen-md-min) {
      &:not(:last-child):after {
        content: '/';
        display: inline-block;
      }
    }
  }
  // Prevent IE8 from misplacing imgs
  > li > a > img {
    max-width: none;
  }
}

.nav-justified {
  width: 100%;

  > li {
    float: none;
    > a {
      text-align: center;
      margin-bottom: 5px;
    }
  }
  @media (min-width: $screen-sm-min) {
    > li {
      display: table-cell;
      width: 1%;
      > a {
        margin-bottom: 0;
      }
    }
  }
}

.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}