footer.site-footer
    .container
        .row
            .col.col-md-1.col-xs-2
                img(src="images/footerIco-1.png", alt="")
            .col.col-md-5.col-xs-10
                h5.text--uppercase.text--primary адрес
                p.text--md 30-й км Рублёво-Успенского шоссе, Россия
            .col.col-md-1.col-xs-2
                img(src="images/footerIco-2.png", alt="")
            .col.col-md-5.col-xs-10
                h5.text--uppercase.text--primary телефон
                p.text--md
                    b +7 (916) 451‑63‑12
                    i  (c 10:00 до 18:00 - понедельник -пятница)
                p.text--md
                    b +7 (968) 030-18-78
                    i  (с 09:00 до 21:00 круглосуточно)