//
// Partials -> Footer
// ------------------------------------

.site-footer {
  padding-top: 65px;
  padding-bottom: 25px;
  color: #959595;
  background-color: #02031d;
  h5 {
    font-size: 16px;
    margin-top: 5px;
    font-weight: 300;
  }
  p {
    margin-bottom: 8px;
  }
}
