//
// Partials -> Header
// ------------------------------------


.site-header .navbar  {
  //background: rgba(0,0,0,0.5);
  background: rgba(234, 234, 232, 0.8);
}
.mainMenuBtn {
  margin-top: 19px;
}
.header__desc {
  font-family: 'Exo 2', sans-serif;
  font-size: 11px;
  margin-top: 14px;
  a {
    display: block;
  }
  &-phone {
    font-size: 24px;
    padding-bottom: 1px;
    font-weight: 300;
    color: $brand-primary;
    text-decoration: none;
    sup {
      top: -0.7em;
      font-size: 14px;
    }
  }
  &-modal {
    text-decoration: underline;
  }
}

.mainMenu {
  //background: url('../images/menuBack.jpg') center repeat;
  background: $brand-primary;
  padding: 30px 40px;
  font-size: 16px;
  font-weight: 200;
  line-height: 2;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -105%;
  z-index: 4;
  max-width: 260px;
  @media (min-width: $screen-md-min) {
    font-size: 24px;
    //padding: 112px 236px 90px 106px;
    padding: 112px 109px 90px 53px;
    line-height: 2.5;
    max-width: inherit;
  }
  @include transition();
  a {color: white;}
  .close {
    position: absolute;
    top: 23px;
    right: 16px;}
}

@media (min-width: $screen-sm-min) {
  .logo img {margin-left: 34px;}
}