//
// Partials -> Main
// ------------------------------------

.titleLine {
  position: relative;
  margin-bottom: 61px;
  &::after {
    content: '';
    width: 80px;
    height: 1px;
    background-color: $brand-primary;
    position: absolute;
    bottom: -22px;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.titleLineLong {
  position: relative;
  margin-bottom: 52px;
  font-weight: 400;
  height: 34px;
  span {
    position: relative;
    margin-bottom: 61px;
    padding: 0 8px;
    display: block;
    @media (min-width: $screen-sm-min) {
      display: inline;
      &::after {
        content: '';
        width: auto;
        height: 5px;
        background-color: $brand-primary;
        position: absolute;
        bottom: -12px;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 3;
      }
    }
  }
  &::after {
    content: '';
    //width: auto;
    height: 1px;
    background-color: #e6e6e6;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
  }
}

@media (min-width: $screen-lg-min) {
  .titleSize {
    span {
      display: block;
    }
  }
}

// decor
.decorLine {
  border-top: 1px solid $brand-primary;
  margin: 20px 0;
  position: relative;
  &::before {
    content: '';
    width: 88px;
    height: 57px;
    padding: 30px;
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    margin: auto;
    background: url("../images/decor.png") center no-repeat, #fff;
  }
}

.priceBox {
  .container {
    position: relative;
  }
  &__inner {
    position: absolute;
    background-color: #02031d;
    color: white;
    width: 300px;
    min-height: 320px;
    padding: 18px;
    top: 35px;
    z-index: 10;
    @media (min-width: $screen-sm-min) {
      width: 320px;
      top: 85px;
    }
    &L {
      left: 0;
      margin: auto;
      @media (max-width: $screen-sm-max) {
        right: 0;
      }
    }
    &R {
      right: 0;
      margin: auto;
      @media (max-width: $screen-sm-max) {
        left: 0;
      }
    }
    &C {
      left: 0;
      right: 0;
      margin: auto;
    }
    &-item {
      border: 2px solid $brand-primary;
      height: 100%;
      padding: 13px 20px;
      p { line-height: 1.7;
        font-weight: 200;}
    }
  }
  &-title {
    font-size: 72px;
    //margin-bottom: 60px;
    font-weight: 200;
    span {
      font-size: 18px; color: $brand-primary;
      display: block;
    }
  }
}
// decor



// sections
.topBar {
  background: url("../images/mainImg.jpg") center center no-repeat;
  background-size: cover;
  padding: 30px 0;
  color: white;
  @media (min-width: $screen-md-min) {
    padding: 35px 0 59px;
  }
  h1, h2, h3, h4 {
    color: white;
  }
  h3 {
    margin-bottom: 90px;
    > span > span {
      font-size: $font-size-h2;
    }
  }
  @media (min-width: $screen-md-min) {
    li + li {
      margin-left: 100px;
    }
  }
}


.welcome {
  padding: 30px 0 40px;
  line-height: 1.66666;
  @media (min-width: $screen-md-min) {
    padding: 74px 0 41px;
  }
}


.reason {
  padding: 30px 0 40px;
  line-height: 1.66666;
  @media (min-width: $screen-md-min) {
    padding: 69px 0 86px;
  }
  .titleLineLong {
    @media (min-width: $screen-md-min) {
      margin-bottom: 51px;
    }
  }
  h2 {
    margin-bottom: 16px;
  }
}


.numbers {
  padding: 30px 0 40px;
  line-height: 1.66666;
  @media (min-width: $screen-md-min) {
    padding: 49px 0 88px;
  }
}


.type {
  padding: 30px 0 40px;
  line-height: 1.66666;
  @media (min-width: $screen-md-min) {
    padding: 69px 0 88px;
  }
  .titleLineLong {
    @media (min-width: $screen-md-min) {
      margin-bottom: 51px;
    }
  }
  h2 {
    margin-bottom: 16px;
  }
}


.services {
  padding: 30px 0 40px;
  line-height: 1.66666;
  @media (min-width: $screen-md-min) {
    padding: 79px 0 88px;
  }
}


.private {
  padding: 30px 0 40px;
  line-height: 1.66666;
  @media (min-width: $screen-md-min) {
    padding: 79px 0 88px;
  }
  .form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #c6a44b;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  &__item {
    margin-bottom: 20px;
  }
}



.group {
  padding: 30px 0 40px;
  line-height: 1.66666;
  @media (min-width: $screen-md-min) {
    padding: 79px 0 58px;
  }
  .form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #c6a44b;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}


.history {
  padding: 30px 0 40px;
  line-height: 1.66666;
  @media (min-width: $screen-md-min) {
    padding: 39px 0 39px;
  }
  &Body {
    &-title {
      position: relative;
      margin: auto;
      display: inline-block;
      top: -19px;
      text-transform: uppercase;
      @media (min-width: $screen-sm-min) {
        padding: 0 15px;
      }
    }
    &__item {
      padding: 28px 13px;
      position: relative;
      @media (min-width: $screen-sm-min) {
        padding: 28px 33px;
        margin-bottom: 48px;
      }
    }
    @media (min-width: $screen-sm-min) {
      &__inner {
        padding: 1px 20px 9px;
        border: 1px solid transparent;
        @media (min-width: $screen-md-min) {
          padding: 1px 51px 9px;
        }
      }
    }
    &Light {

    }
    &Dark {
      background-color: black;
      color: white;
      @media (min-width: $screen-sm-min) {
        .historyBody__inner {
          border: 1px solid #c6a44b;
        }
        .historyBody-title {
          background: black;
        }
      }
    }
  }
  &Title {
    position: relative;
    display: inline-block;
    &::after {
      content: '';
      background: url("../images/decorArrL.png") center no-repeat;
      width: 15px;
      height: 35px;
      position: absolute;
      top: 0;
      left: -24px;
      display: block;
    }
    &::before {
      content: '';
      background: url("../images/decorArrR.png") center no-repeat;
      width: 15px;
      height: 35px;
      position: absolute;
      top: 0;
      right: -24px;
      display: block;
    }
  }
}


.features {
  padding: 30px 0 40px;
  @media (min-width: $screen-md-min) {
    padding: 63px 0 59px;
  }
  .titleLineLong {
    @media (min-width: $screen-md-min) {
      margin-bottom: 63px;
    }
  }
}
// sections


// plugins
.modal {
  .form-control, .btn {
    height: 44px;
    @include border-radius(25px);
  }
  textarea.form-control {height: 145px;}
  .btn--success {
    background: $brand-info;
    &:hover, &:focus, &.active {
      color: $light;
      background-color: darken($brand-info, 10%);
    }
  }
  .info {
    .form-control {
      border-color: $brand-info;
    }
  }
}

//.modalInner {
//  padding: 10px 16px 10px 50px;
//  ul {
//    font-weight:400;
//    li {
//      margin-bottom: 15px;
//    }
//  }
//}

.single-itemBack {
  height: 481px;
  .slick-list, .slick-track {
    height: 100%;
  }
}

@media (max-width: $screen-sm-max) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .col {
    padding-left: 15px;
    padding-right: 15px;
  }
}



.btn--svg {
  border: none;
  position: relative;
  svg {
    height:54px;
    left:0;
    position:absolute;
    top:0;
    width:100%
  }
  rect {
    fill:none;
    stroke: $brand-primary;
    stroke-width:6;
    stroke-dasharray:422,0
  }
  &:not([disabled]):hover rect {
    stroke-width:6;
    stroke-dasharray: 60,440;
    stroke-dashoffset:384;
    transition:all 1.85s cubic-bezier(.19,1,.22,1)
  }
  *, &:active:focus *, &:focus *, &:hover * {
    transition-property:all;
    transition-duration:.6s;
    transition-timing-function:ease
  }
}