main.site-main
    #top.topBar
        .container.text--center
            h4.titleLine.text--uppercase специальное предложение
            h1.text--uppercase проживание в отеле
                span.text--primary  лесные дали
                br
                | с 3 разовым питанием в подмосковье
            h3.text--uppercase от
                span.text--primary
                    span  3500
                    |  рублей
                |  в сутки
                //span.number(data-number="70") 70
            ul.list--inline
                li.margbot10
                    a.btn.btn--svg.btn--default(data-toggle='modal', href="#send-id")
                        svg
                            rect(x="0", y="0", fill="none", width="100%", height="100%")
                        | индивидуальное размещение
                li.margbot10: a.btn.btn--primary(data-toggle='modal', href="#send-id") групповое размещение
    #features.features
        .container.text--center
            h2.titleLineLong
                span возможности комплекса
            .row.text--left
                .col.col-md-3.col-sm-6.col-xs-12
                    h2 Корпоративные
                    ul.list--unstyled.list--dot.text--left
                        li Тимбилдинг
                        li Презентации
                        li Семинары
                        li Мастер классы
                .col.col-md-3.col-sm-6.col-xs-12.pull-right
                    h2 Спортивные
                    ul.list--unstyled.list--dot.text--left
                        li Спортивные семинары
                        li Детские лагеря
                        li Сборы
                        li Подготовка к соревнованиям
                .col.col-md-3.col-sm-6.col-xs-12.pull-right
                    h2 Городские
                    ul.list--unstyled.list--dot.text--left
                        li Конференции
                        li Симпозиумы
                        li Дебаты
                        li Форумы
                .col.col-md-3.col-sm-6.col-xs-12.pull-right
                    h2 Частные
                    ul.list--unstyled.list--dot.text--left
                        li Праздники
                        li Свадьбы
                        li Дни рождения
                        li Вечеринки
            a.btn.btn--svg.btn--default.btn--once.btn--lg.margtop100.margbot40.hidden--sm.hidden--xs(href="#send-id", data-toggle="modal")
                svg
                    rect(x="0", y="0", fill="none", width="100%", height="100%")
                | получить консультацию
            a.btn.btn--default.btn--once.btn--lg.margtop40.margbot20.visible--xs.visible--sm(href="#send-id", data-toggle="modal") получить консультацию
            p.text--md Мы открыты для сотрудничества со всеми
                br
                | заитрересованными людьми и организациями.
                br
                | Готовы ответить на все ваши вопросы по телефону:
            p.text--lg +7 (916) 451‑63‑12
    #type.type
        .container
            h2.titleLineLong
                span Инфраструктура
            .row
                .col.col-md-4.col-xs-12
                    .type__item.titleSize
                        h2 Конференц зал
                        p: i Современная площадка для
                            span  проведения крупномасштабных
                            span  событий: конференций,
                            span  симпозиумов, политических
                            span  дебатов, форумов, семинаров,
                            span  корпоративных мероприятий.
                            span  У нас проходит
                                i.text--primary  РИФ и КИБ
                .col.col-md-4.col-xs-12
                    .type__item.titleSize
                        h2 Кинотеатр
                        p: i Оснащенный современной
                            span  технологией, которая
                            span  превращает любые фильмы и
                            span  мультфильмы в завораживающее
                            span  зрелище. Гигантский экран, особая
                            span  геометрия зрительного зала, и,
                            span  конечно, фантастический звук!
                .col.col-md-4.col-xs-12
                    .type__item.titleSize
                        h2 Банкетный зал
                        p: i Создан для проведения частных и
                            span  корпоративных торжеств
                            span  независимо от масштаба.
                            span  Несколько залов вмещают от 30
                            span  до 300 человек.
    .single-item.single-itemBack
        - for (var x = 1; x < 5; x++)
            div(style="background:url('images/slider/slideConf-#{x}.jpg') center center no-repeat")
                .priceBox.text--center
                    .container
                        .priceBox__inner.priceBox__innerC
                            .priceBox__inner-item
                                .priceBox-title
                                    .number(data-number="350") 350
                                    span мест
                                p.margtop20.text--sm киноконцертные залы, конференц-залы вместимостью от 20 до 350 человек, оборудованные  свето-, аудио- и видеотехникой, с доступом к сети интернет (WiFi).
    #services.services
        .container
            h2.titleLineLong
                span спорт и развлечение
            .row
                .col.col-lg-5.col-md-5.col-xs-12
                    .howto__item
                        p Для наших всегда предоставляется богатый выбор спортивных, оздоровительных и развлекательных услуг.
                            br
                            | Оздоровительный комплекс предлагает медицинские услуги для поддержания здоровья с использованием современной аппаратуры, кабинет косметологии порадует новейшими препаратами и процедурами для вашей красоты.
                .col.col-lg-5.col-md-7.col-xs-12.pull-right
                    .howto__item.row
                        .col.col-md-6
                            ul.list--unstyled.list--dot
                                li бассейн (25 м)
                                li солярий
                                li тренажерный зал
                                li сауны
                                li русская баня
                                li футбольное поле
                                li волейбол
                        .col.col-md-6
                            ul.list--unstyled.list--dot
                                li корты
                                li детская площадка
                                li игровая комната
                                li библиотека
                                li бильярд
                                li боулинг
                                li баскетбол
    .single-item.single-itemBack
        - for (var x = 1; x < 7; x++)
            div(style="background:url('images/slider/slideSport-#{x}.jpg') center center no-repeat")
            //    .priceBox.text--center
            //        .container
            //            .priceBox__inner.priceBox__innerR
            //                .priceBox__inner-item
            //                    .priceBox-title
            //                        .number(data-number="250") 250
            //                        span рублей
            //                    p.margtop100.text--sm Посещение бассейна
            //img(src="images/slider/slideSport-#{x}.jpg", alt="")
    //#welcome.welcome
    //    .container
    //        h2.titleLineLong
    //            span Добро пожаловать
    //        .row
    //            .col.col-md-6.col-xs-12.titleSize
    //                p История этих мест уходит в седую старину.
    //                    span  Первоначально здесь располагалось княжеское село
    //                    span  Домантовское, упоминаемое в духовной грамоте
    //                    span  Ивана Калиты и последующих завещаниях
    //                    span  московских князей.
    //                    | Оно представляло собой небольшой городок с
    //                    span  земляным валом, являвшийся центром особой
    //                    span  Домантовской волости.
    //            .col.col-md-6.col-xs-12.titleSize
    //                p Сюда ездил на соколиную охоту царь Иван Грозный.
    //                    span  Дорога к этим местам считалась «царской», по ней
    //                    span  совершали пешее паломничество в
    //                    span  Саввино-Сторожевский монастырь в Звенигород
    //                    span  первые цари династии Романовых — Михаил
    //                    span  Федорович и Алексей Михайлович, а затем Петр
    //                    span  Великий и Екатерина Вторая.
    //                p.margtop100.text--right.hidden--xs.hidden--sm: img(src="images/signAuthor.png", alt="")
    //                p.margtop30.text--right.visible--xs.visible--sm: img(src="images/signAuthor.png", alt="")
    //.single-item
    //    - for (var x = 1; x < 3; x++)
    //        div: img(src="images/slider/slideWelcome-#{x}.jpg", alt="")
    //.decorLine
    #reason.reason
        .container
            h2.titleLineLong
                span Природа
            .row
                .col.col-md-4.col-xs-12
                    .reason__item.titleSize
                        h2 169.2 га земли
                        p: i Парковая зона гостиничного
                            span  комплекса занимает лесную
                            span  территорию площадью 169,2 га с
                            span  оборудованной пляжной зоной на
                            span  берегу Москвы-реки
                .col.col-md-4.col-xs-12
                    .reason__item.titleSize
                        h2 Сосновый лес
                        p: i Тишина, невероятно свежий
                            span  воздух и аромат леса.  Зимой, и
                            span  летом здесь царит
                            span  непередаваемая атмосфера,
                            span  благодаря которой можно
                            span  расслабиться, восстановить
                            span  силы, на время позабыть о делах.
                .col.col-md-4.col-xs-12
                    .reason__item.titleSize
                        h2 Москва-река
                        p: i Мы расположены на правом берегу
                            span  Москвы-реки в одном из
                            span  красивейших уголков ближайшего
                            span  Подмосковья, где во второй
                            span  половине XIX века находилась
                            span  лесная дача внука Наполеона..
    .single-item.single-itemBack
        - for (var x = 1; x < 5; x++)
            div(style="background:url('images/slider/slideForest-#{x}.jpg') center center no-repeat")
            //div: img(src="images/slider/slideForest-#{x}.jpg", alt="")
    #numbers.numbers
        .container
            h2.titleLineLong
                span Номера
            .row
                .col.col-lg-5.col-md-6.col-xs-12
                    .howto__item
                        p Для комфортного отдыха гостям предлагаются одно-, двух-, трехкомнатные номера различных категорий, оборудованные всем самым необходимым. Многообразие категорий и различная стоимость номеров позволяет нашим гостям выбрать подходящий им по удобству и бюджету отдых.
                        //a.btn.btn--svg.btn--default.btn--once.btn--lg.margtop60.hidden--xs.hidden--sm(href="#send-id", data-toggle="modal")
                        //    svg
                        //        rect(x="0", y="0", fill="none", width="100%", height="100%")
                        //    | забронировать
                .col.col-lg-5.col-md-6.col-xs-12.pull-right
                    .howto__item.row
                        .col.col-md-6
                            ul.list--unstyled.list--dot
                                li Интернет
                                li Кондиционер
                                li Холодильник
                                li Фен
                                li Телевизор
                        .col.col-md-6
                            ul.list--unstyled.list--dot
                                li Мягкая мебель
                                li Ванная
                                li Лоджия
                                li Кухня
                                li Сейф
            //.text--center.visible--xs.visible--sm
            //    a.btn.btn--default.btn--once.btn--lg.margtop30(href="#send-id", data-toggle="modal") забронировать
    .single-item.single-itemBack
        - for (var x = 1; x < 8; x++)
            div(style="background:url('images/slider/slideNumber-#{x}.jpg') center center no-repeat")
            //    .priceBox.text--center
            //        .container
            //            .priceBox__inner.priceBox__innerL
            //                .priceBox__inner-item
            //                    .priceBox-title
            //                        .number(data-number="2900") 2900
            //                        span рублей
            //                    p.margtop60.text--sm Двухместный номер
            //                        br
            //                        | + завтрак на двоих
            //img(src="images/slider/slideNumber-#{x}.jpg", alt="")
    #private.private
        .container
            .text--center
                h2.titleLineLong
                    span Форма размещения
            form
                .row
                    .col.col-xlg-5.col-lg-6.col-md-7.col-xs-12
                        .private__item
                            p Для комфортного отдыха гостям предлагаются одно-, двух-, трехкомнатные номера различных категорий, оборудованные всем самым необходимым: телефон, телевизор, мягкая мебель, ванная, лоджия, кухня. Многообразие категорий и различная стоимость номеров позволяет нашим гостям выбрать подходящий им по удобству и бюджету отдых.
                            p
                                b Однокомнатный:
                                |  (2х местный) - 175 номеров;
                                br
                                b Двухкомнатный:
                                |  ( до 4х человек) - 150 номеров.
                    .col.col-xlg-4.col-lg-5.col-md-5.col-xs-12.pull-right
                        .private__item
                            .form-group.row
                                .col.col-xs-6
                                    input.form-control(type='text' ,placeholder='Дата заезда', required)
                                .col.col-xs-6
                                    input.form-control(type='text' ,placeholder='Дата выезда', required)
                            .form-group.row
                                .col.col-xs-6
                                    input.form-control(type='text' ,placeholder='Количество человек', required)
                                .col.col-xs-6
                                    input.form-control(type='text' ,placeholder='Номер', required)
                            +fieldInput('text', 'name2', 'name', 'Ваше имя', 'Ваше имя', true)
                            +fieldInput('text', 'phone2', 'phone', 'Ваш телефон', 'Ваш телефон', true)
                            +fieldInput('email', 'email2', 'email', 'Ваша почта', 'Ваша почта', true)
                .text--center
                    button.btn--svg.btn.btn--default.btn--once.btn--lg.margtop40.margbot20(type="submit")
                        svg
                            rect(x="0", y="0", fill="none", width="100%", height="100%")
                        | забронировать
                    p.text--md Мы открыты для сотрудничества со всеми
                        br
                        | заитрересованными людьми и организациями.
                        br
                        | Готовы ответить на все ваши вопросы по телефону:
                    p.text--lg +7 (916) 451‑63‑12
    //.decorLine
    //#group.group
    //    .container
    //        h2.titleLineLong
    //            span групповое размещение
    //        form
    //            .row
    //                .col.col-xlg-5.col-lg-6.col-md-7.col-xs-12
    //                    .private__item
    //                        p Для комфортного отдыха гостям предлагаются одно-, двух-, трехкомнатные номера различных категорий, оборудованные всем самым необходимым: телефон, телевизор, мягкая мебель, ванная, лоджия, кухня. Многообразие категорий и различная стоимость номеров позволяет нашим гостям выбрать подходящий им по удобству и бюджету отдых.
    //                        p
    //                            b Однокомнатный:
    //                            |  (2х местный) - 175 номеров;
    //                            br
    //                            b Двухкомнатный:
    //                            |  ( до 4х человек) - 150 номеров.
    //                .col.col-xlg-4.col-lg-5.col-md-5.col-xs-12.pull-right
    //                    .private__item
    //                        .form-group.row
    //                            .col.col-xs-6
    //                                input.form-control(type='text' ,placeholder='Дата заезда', required)
    //                            .col.col-xs-6
    //                                input.form-control(type='text' ,placeholder='Дата выезда', required)
    //                        .form-group.row
    //                            .col.col-xs-6
    //                                input.form-control(type='text' ,placeholder='Количество человек', required)
    //                            .col.col-xs-6
    //                                input.form-control(type='text' ,placeholder='Номер', required)
    //                        +fieldInput('text', 'name3', 'name', 'Ваше имя', 'Ваше имя', true)
    //                        +fieldInput('text', 'phone3', 'phone', 'Ваш телефон', 'Ваш телефон', true)
    //                        +fieldInput('email', 'email3', 'email', 'Ваша почта', 'Ваша почта', true)
    //            .text--center
    //                button.btn--svg.btn.btn--default.btn--once.btn--lg.margtop40(type="submit")
    //                    svg
    //                        rect(x="0", y="0", fill="none", width="100%", height="100%")
    //                    | забронировать
    //#history.history
    //    .container.text--center
    //        h2.titleLineLong
    //            span история
    //        .historyBody
    //            h2.historyTitle.margbot20 1530
    //            .historyBody__item.historyBodyDark
    //                .historyBody__inner
    //                    h2.text--primary.historyBody-title царские места
    //                    p По нынешнему Рублёво-Успенскому шоссе ездил на соколиную охоту царь Иван Грозный. Дорога считалась «царской», по ней совершали пешее паломничество в Саввино-Сторожевский монастырь в Звенигород первые цари династии Романовых — Михаил Федорович и Алексей Михайлович, а затем Петр Великий и Екатерина Вторая. В конце XVIII века вдоль дороги стали отстраиваться имения — здесь поселились 16 княжеских и 4 графских рода, в частности, Юсуповы, Шуваловы и Голицыны.
    //        .historyBody
    //            h2.historyTitle.margbot40 1931
    //            .historyBody__item.historyBodyLight
    //                .historyBody__inner
    //                    h2.historyBody-title культурное наследие россии
    //                    p Горки-10 вошли в историю русской литературы, так как с 1931 года там проводил лето писатель Максим Горький. Тут создавались «Жизнь Клима Самгина», пьесы «Егор Булычев и другие», «Достигаев и другие», публицистические статьи. Гостями его были Герберт Уэллс, Ромен Роллан, К. А. Федин, А. А. Фадеев, В. С. Иванов, В. В. Вересаев, А. С. Новиков-Прибой, редакторы многих журналов и издательств. Здесь же он и скончался в 1936 году.
    //.decorLine
