// mixins


// menu
mixin list(classUl, ...items)
    ul(class=classUl)
        each item in items
            li.nav__element
                a(href="#").nav__element-link= item


// form-input
mixin fieldInput(type, name, id, placeholder, data, required)
    .form-group(class='field-' + type)
        input.form-control(type=type, name=name, id=id, placeholder=placeholder, data-label=data, required=required)

// form-textarea
mixin fieldTextarea(name, id, placeholder, data, required)
    .form-group(class='field-' + type)
        textarea.form-control(name=name, id=id, placeholder=placeholder, data-label=data, required=required, rows="6")


// maps-iframe
- var map = '<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=J9LbKM7AUssFEMDxOXpm9PBPPcVHSviW&width=100%&height=586&lang=ru_RU&sourceType=constructor"></script>';
